<div class="jumbotron">
			<h1 class="text-center">Controle de Usuários</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<form>
					<div class="input-group">
					<span class="input-group-btn">
						<a href="#/usuario/create" class="btn btn-primary">Novo Usuário
						</a>
					</span>
						<input class="form-control" ng-model="filtro" placeholder="filtrar pelo nome">
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<meu-painel ng-repeat="user in users | filter: filtro | orderBy: 'name'" titulo="{{user.name}} {{user.lastName}}">
						<img class="img-responsive center-block" src="{{user.photoUrl}}">
				</meu-painel>
			</div>
		</div>